 body
{
 background-color: #FFB049;
 border
}

.container
{
 border-style: solid;
 border-width: medium;
 width: 80%;
 min-width: 200px;
 min-height: 80%;
 margin: 100px;
 background-color: #940505;
}

p
{
  font-familt: verdana;
}
